body {
    background-color: black;
}
.Header {
    background-color: #ffffff;
    border-color: #cccccc;
}

ul {
    list-style: none;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
}

#Kelsey {
    background-color: #4aaaa5;
    color: #ffffff;
}

main {
    background: red;
    padding: 960 px; 
}
footer {
    background-color: #666666;
}

