body {
    background-image: url("assets/images/white-waves.png");
    background-size: auto;
    background-color: pink;
    color: #777777;
    height: 100%;
    position: relative;
}

Header {
    background-color: #ffffff;
    border-color: #cccccc;
    height: 50px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-color: #dddddd;
}

ul {
    list-style: none;
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
}

li {
    display: inline-block;
}

#Kelsey {
    background-color: #4aaaa5;
    color: #ffffff;
    height: 50px;
    font-size: .30in;
    width: 200px;
    text-align: center;
}

.buttons {
    float: right;
}

main {
    clear: both;
    background: #ffffff;
    border-color: #dddddd;
    width: 960px;
    margin: 100px auto;
}

.juice {
    width: 900px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 140px;
}

h1 {
    color: #4aaaa5;
    font-size: .25in;
}

img {
    float: left;
    padding: 15px;
}

label {
    display: block;
}

input {
    padding: 10px;
}

#text {
    width: 100%;
}

#email {
    width: 100%;
}

#message {
    width: 100%;
    height: 120px;
}

footer {
    clear: both;
    background-color: #4aaaa5;
    height: 45px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h3 {
    background-color: #666666;
    text-align: center;
    height: 35px;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}